<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        <div class="topone">
            <a href="">Call us:- +918660755892</a> |
            <a href="">MY ACCOUNT</a> |
            <a href="">OUR LOCATION</a> |
            <a href="">CONTACT US</a>
        </div>
        <div>
         <nav class="topsecond">
             <img src="../images/logo2.png" alt=""; width="250"; height="100"> 
             <a href="#">Home</a> |
             <a href="#">About us</a> |
             <a href="">Shop</a> |
             <a href="#">Gallery</a> |
             <a style="color: rgb(238, 238, 20);" href="#">Contact us</a> |
             <a href="#"> My Cart</a>
         </nav>
        </div>
    </div>

        <div class="strawbery">
            <h2>Contact Us</h2>
        </div>

</body>
</html>