html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(184, 231, 195);
    font-family: "comic sans ms",sans-serif;
    text-align: center;


}
h1{
    font-family: castellar,sans-serif;
    font-size: 40px;

}
h2{
    background-color: rgb(250, 71, 6);
    color: whitesmoke;
    padding: 15px;
    border-radius: 50%;
    width: 800px;
    margin: auto;
    box-shadow: 0 0 10px black;

}
table{
    width: 100%;

}
img{
    border-radius: 10px;
    box-shadow: 0 0 10px;
}